.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 90%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* bar that appear above the main grid */
.information-bar {
  height: 20px;
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* main grid which contains all the cards */

/* @media only screen and (min-width: 10px) and (max-width: 610px) {
  .main {
    width: 80%;
    grid-auto-rows: 90px;
  }
}

@media only screen and (min-width: 620px) {
  .main {
    width: 50%;
    grid-auto-rows: 150px;
  }
} */
.main {
  width: 50%;
  grid-auto-rows: 90px;
  padding: 10px;
  margin: 0 auto;
  background-color: darkblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
  grid-gap: 20px;
  justify-content: center;
}

/* flipping card part */
.flip-container {
  /* background-color: tomato; */
  -ms-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.flipper {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.front {
  background-color: orange;
}

.back {
  transform: rotateY(180deg);
  background-color: green;
}
.flipper:hover {
  transform: rotateY(180deg);
  /* transform: scale(1.05); */
}

/* flipping card end */
