body {
  text-align: center;
  font-family: sans-serif;
  background: #ffffff
    url("https://res.cloudinary.com/rdelk/image/upload/v1528058711/FEND%20-%20Project%202/geometry2.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}
.wrapper {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-all-cards .card {
  transform: rotateY(180deg);
}

/* bar that appear above the main grid */
.information-bar {
  height: 20px;
  width: 50%;
  padding: 10px;
  margin: 120px auto 20px;
  backdrop-filter: blur(2px);
  background-color: rgba(34, 50, 54, 0.068);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 10px 0 rgba(44, 44, 44, 0.24);
  animation: land 0.9s ease-in-out forwards;
}

.game-container {
  width: 50%;
  backdrop-filter: blur(0.5px);
  position: relative;
  border-radius: 10px;
  animation: expand 0.8s ease-in-out forwards;
}

.background {
  position: absolute;
  /* background-color: red; */
  height: 100%;
  width: 100%;
}

.main-game-container {
  grid-auto-rows: 16vh;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 0.3fr);
  grid-gap: 20px;
  justify-content: center;
  background: linear-gradient(160deg, #02ccbb2c 0%, #9f93a86b 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(44, 44, 44, 0.5);
}

/* flipping card part */

.card-container {
  color: white;
  perspective: 1000px;
  position: relative;
}

.card {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  transition: all 0.48s;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  color: black;
}
.front {
  background: #2e3d49;
}

.back {
  transform: rotateY(180deg);
  background-color: rgb(223, 223, 250);
}

.is-flipped {
  transform: rotateY(180deg);
}

.is-hovered {
  transform: translateZ(50px);
}

.matched {
  transform: rotateY(180deg);
}

.no-clicking {
  pointer-events: none;
}

/* animations */

@keyframes mouseover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes mouseout {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes land {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
