<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="background">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="information-bar">
        <div>
          <ul class="stars" title="Rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
        </div>
        <div class="moves" title="Attempted matches">
          <span id="moves-made"> 0 Moves</span>
        </div>
        <div class="timer" title="Time elapsed">
          <span id="timer">0 Second</span>
        </div>
        <div class="restart" title="Restart" id="restart">
          <i class="fa fa-repeat"></i>
        </div>
      </div>
      <div class="game-container"></div>
    </div>
    <audio id="sucess" src="sucess.wav" preload="auto"></audio>
    <audio id="fail" src="fail.wav" preload="auto"></audio>
    <audio id="winner" src="winner.mp3" preload="auto"></audio>
    <audio id="gameover" src="gameover.wav" preload="auto"></audio>

    <script type="module" src="../controller/main.js"></script>
  </body>
</html>
